
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>WASP </title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="google-site-verification" content="WT_3khCVWE2mjr6dV8omC51FHRCxT2AckpPxL6WZzIo" />
		<link rel="icon" type="image/png" href=""><!--favicon.co-->
		<!-- Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="115190952528-rphtltdisor88ocd73094g0v1gpbi4kl.apps.googleusercontent.com">
		<meta name="google-site-verification" content="hMMUyc_q8eMDbBOiC0yuLL9fcDg3J1G7FshS9o04NII" />
		<!-- Facebook Pixel Code -->
<script defer>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '480749525449016');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=480749525449016&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
		<!--{% assets "coming_soonCSS" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
		{% endassets %}-->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<!--<link rel='stylesheet' id='videojs-css'  href='https://s3-ap-southeast-1.amazonaws.com/wasp-images/comingsoon/vendor.css' type='text/css' media='all'/>-->
		<!--<link rel='stylesheet' id='sc_retail-style-css'  href='https://s3-ap-southeast-1.amazonaws.com/wasp-images/comingsoon/stylemin.css' type='text/css' media='all'/>-->
		<!--<link rel="stylesheet" href="{{url_for('static', filename='css/comingsoon/comingsoonpage.css') }}">-->
		<link rel="stylesheet" href="{{url_for('static', filename='gen/mainCSSComingSoon.css') }}">
		<!--<link rel="stylesheet" href="{{url_for('static', filename='css/comingsoon/theCSSCM.css') }}">-->

		    <!-- cdnjs -->
<style>
.meganav-logo-wasp {
    display: table-cell;
    width: 180px;
    padding-right: 22px;
    text-align: right;
    vertical-align: middle;
    padding-top: 22px
}
.the-color-of-wasp {
	  color: #247DBC;
}

/*.background-for-graph {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url({{ url_for('static', filename='images/gradient_1.jpg') }});
	position:relative;
	height:-100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
}*/
.background-for-graph {
    background-color: #000;
    background-image: linear-gradient(to right, #4e54c8 , #8f94fb);
    background-size: cover;
    overflow: hidden;
    height:-100%;
    position:relative;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
</style>
<style>
.chart-container {
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50vh;
  width: 55vw;
}
.first-background-image {
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	position:relative;
	height:-100%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.thebg-image {
	width: 100wh;
	height: -100%;
	color: #fff;
	position:relative;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 100%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
</style>

	</head>
	<body>

	<section class="woocommerce">
		<!--[if lt IE 10]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div id="preloader">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div><!-- #preloader -->
	</section><!-- home section -->
<!-- header version inner menu -->
<header class="xs-header-height xs-menu-style-solid fundpress-header-main-version xs-navy-blue v3">
	<div class="container">
		<nav class="xs-menus fundpress-menu">
			<div class="nav-header">
				<div class="nav-toggle"></div>
				<a class="nav-brand nav-logo" href="">
					<img  src="{{ url_for('static', filename='images/logo_1.svg') }}" alt="">
				</a>
			</div><!-- . END -->
			<div class="nav-menus-wrapper">
				<div class="xs-logo-wraper">
					 <img src="{{ url_for('static', filename='images/logo-3.png') }}" class="meganav-logo-wasp" >
					<!--<a class="nav-brand xs-logo" href="{{ url_for('authentication.coming_soon_page') }}">
						<img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
					</a>-->
				</div>
				<ul class="nav-menu">
					<li><a href="{{ url_for('authentication.coming_soon_page') }}">Home</a>
					</li>
				</ul>
                <div class="xs-navs-button" disabled>
					<ul class="xm-icon-with-text fundpress-icon-menu">
						<li style="opacity:0.5;" ><a style="opacity:0.5;" href="" ><i style="opacity:0.5;" class="fa fa-unlock-alt color-green"></i>Log In<br >SignUp</a></li>
					</ul>
				</div>
			</div><!-- .nav-menus-wrapper END -->
		</nav><!-- .xs-menus .fundpress-menu END -->
	</div>
</header>
<!-- header version inner menu closed -->

<!-- welcome section -->
<section class="xs-screen-height xs-welcome-section fundpress-welcome-section thebg-image">
	<div class="xs-banner-slider owl-carousel ">
		<div id="first_banner" class="xs-banner-slider-item ">
				<div class="container" >
				<div class="row  ">
					<div class="col-lg-12 ">
						<div class=" xs-welcome-content version-3">
							<div class="xs-welcome-wraper ">
								<h2 class="title"style="font-size:32px; color:white; text-align:left;">Get fixed return from 5-7% p.a. on Corporate Bonds.<br></h2>
								<h2 class="title"style="font-size:18px; color:white; text-align:left;"><br>Invest in your preferred corporate bonds or sukuk starting from RM100.<br> Get Notified when WASP is available.</h2>
								<h2 style="font-size:17px; text-align:center; color:white;"></h2>
								<form method="POST" id="subscribe-form">
									<div class="row">
										<div class="col-lg-8 ">
								<div class="xs-input-group-v2">
                    				<input type="email" name="email" id="email_sub" class="xs-input-control" placeholder="Enter email" required>
								</div></div>
								<div class="xs-submit-wraper col-lg-2">
									<div id="successnewsletterAlert" class="alert alert-success" role="alert"style="display:none;"></div>
									<input type="submit" name="submit" id="subscribed" value="GET EARLY ACCESS" class="xs-btn green-btn">
								</div>
									</div>
									</form>
							</div>
							<div class="col-lg-6">
								<img class="pull-right lazy" data-src="{{ url_for('static', filename='images/comingsoon/firstcut.png') }}" alt=""/>

								<a href="https://www.freepik.com/free-photos-vectors/business-card" style="font-size:1px;">Business vector created by pikisuperstar - www.freepik.com</a>
							</div>
						</div>

					</div>

				</div>
			</div>
			</div>
	</div>
</section ><!-- End welcome section -->

<section>
<div class="m-benefits-slider" id="lb-module-product-features" data-post-status="publish-status" data-post-status-label="Published">
	<div class="content-wrapper">
							<div class="header">
								<h3 class="message is-title">Why Invest in Bond?</h3>
							</div>
						<div class="list" role="list">
							<div class="item no-link" id="product-feature-1"  role="listitem">
										<div class="content">
											<div class="icon">
											<img class="lazy" data-src="{{ url_for('static', filename='images/comingsoon/w_1.png') }}" alt="">
											</div>
						<h4 class="title"><a title="Low Risk" data-context="Product Features title">Low Risk</a></h4>
						<div class="message"><p><span>Hedging your risk through the purchase of Government and Corporate high-rating bonds.</span></p>
						</div></div>
							</div>
							<div class="item no-link" id="product-feature-2"  role="listitem">
								<div class="content">
									<div class="icon">
											<img class="lazy" data-src="{{ url_for('static', filename='images/comingsoon/w_2.png') }}" alt="">
											</div>
									<h4 class="title">
										<a title="Consistent Payout" data-context="Product Features title">Consistent Payout </a>
									</h4>
									<div class="message"><p>Benefit from regular payout that is given out on an annual or semi annual basis.</p>
									</div>
								</div>
							</div>
							<div class="item hover-icon-with-gradient-blue-to-green" id="product-feature-3"  role="listitem">

								<div class="content">
									<div class="icon">
											<img  class="lazy" data-src="{{ url_for('static', filename='images/comingsoon/w_3.png') }}" alt="">
											</div>
									<h4 class="title">
										<a title="Market Views on-the-go" data-context="Product Features title">Capital Appreciation</a>
									</h4>
									<div class="message"><p>Bonds provides significant opportunity for capital appreciation while maintaining cash payouts.</p>
									</div>
								</div>
							</div>
							<div class="item no-link" id="product-feature-4"  role="listitem">
								<div class="content">
									<div class="icon">
											<img  class="lazy" data-src="{{ url_for('static', filename='images/comingsoon/w_4.png') }}" alt="">
											</div>
									<h4 class="title">
										<a title="Easy ways to manage your investments" data-context="Product Features title">Diversification of Portfolio</a>
									</h4>
									<div class="message"><p>Portfolio that consist of higher risk investment classes can be balanced out through investment with bond</p>
									</div>
								</div>
							</div>
						</div>
	</div>
</div>
</section>
    	<section class="xs-screen-height background-for-graph">
		<h3 class="title font-weight-bold mt-30 mb-10" style="margin-top:20px; font-size:32px; color:white; text-align:center;">Potential Earnings Calculation<br>RM<label id="amountGet">7903</label> in Total (30 years)</h3>
		<div class="container">
			<div class="col-lg-12 mt-10">
				<div class="col-lg-6 mb-5 mt-5">
				<h3 class="title font-weight-bold" style="font-size:21px; color:white;">Potential earnings of corporate bonds</h3>
					<h3 class="title" style="font-size:21px; color:white;">Based on <u>6</u> % p.a average fixed-return rate on corporate bond and 30 years return.</h3>
					</div>
				<div class="col-lg-4">
					<h3 class="title font-weight-bold" style="font-size:20px; color:white; text-align:left;">Invest amount: RM<label id="theBudgetRange">100</label> / year</h3>
			  	    <input type="range" min="1" max="100" value="1" class="form-control-range" id="mybudgetRange">
					</div>
			</div>
            <div class="chart-container">
			<canvas id="canvas"></canvas>
                </div>
            </div>
	</section>

	<!-- Requires style.min.2.css to work for these code
	<section class="xs-screen-height">
<div class="m-tables" data-post-status="publish-status" data-post-status-label="Published">
			<div class="content-wrapper">
				<div class="header">
				<h3 class="title">COMPARISON</h3>
				</div>
				<div class="content">
					<div class="table-wrapper">
			<table >
				<thead>
				<th ><div class="th-wrapper"></div></th>
				<th ><div class=" text-center th-wrapper">Saving Account</div></th>
				<th ><div class=" text-center th-wrapper">Fixed Deposit Account</div></th>
				<th ><div class="text-center th-wrapper">Corporate Bond</div></th>
				</thead>
				<tbody>
				<tr>
					<td class="text-left" ><b>Amount</b></td>
					<td class="text-center">RM 100,000</td>
					<td class="text-center">RM 100,000</td>
					<td class="text-center"><b>RM 100,000</b></td>
				</tr>
				<tr>
					<td class="text-left"><b>Interest Rate</b></td>
					<td class="text-center">0% - 2% p.a</td>
					<td class="text-center">2% - 4% p.a</td>
					<td class="text-center"><b>5% - 7% p.a</b></td>
				</tr>
				<tr>
					<td class="text-left"><b>Potential Return</b></td>
					<td class="text-center">RM 0 - RM 2,000</td>
					<td class="text-center">RM 2,000 - RM 4,000</td>
					<td class="text-center"><b>RM 5,000 - RM 7,000</b></td>
				</tr>

				</tbody>
			</table></div>
				<div ><small>Disclaimer: The information above are for general information only.</small></div>
				</div>
	</div>
	</div>
</section>-->
<section>
	<div class="m-faqs" id="lb-module-faq" data-post-status="publish-status" data-post-status-label="Published">
		<div class="content-wrapper">
			<div class="header">
				<h3 class="title">FAQs</h3>
			</div>
			<div class="content">
				<ul class="list">
					<li class="item">
						<label for="lb-module-faq-1" class="item-wrapper">
							<input id="lb-module-faq-1" name="lb-module-faq-accordion" type="checkbox"/>
							<span class="question">
								<span class="c-icon icon-tick" data-grunticon-embed></span>
								<span class="question-text">How to invest with WASP?</span>
								<span class="c-icon icon-varrow" data-grunticon-embed></span>
							</span>
							<div class="answer"><p><span>While we have a variety of bond funds, we have gone even further and now offer you the opportunity to access different types of bonds in the market.</span></p>
								<p><span>At WASP, we allow you the freedom to select bonds of your choice from our curated range offered, to help diversify your investment portfolio.</span></p>
							</div>
						</label>
					</li>
					<li class="item">
						<label for="lb-module-faq-2" class="item-wrapper">
							<input id="lb-module-faq-2" name="lb-module-faq-accordion" type="checkbox"/>
							<span class="question">
								<span class="c-icon icon-tick" data-grunticon-embed></span>
								<span class="question-text">What does buying a bond in the secondary market mean?</span>
								<span class="c-icon icon-varrow" data-grunticon-embed></span>
							</span>
							<div class="answer"><p><span>Apart from purchasing newly-issued bonds from the issuer(investment-bank), you can also purchase bonds that exist in the secondary market. This is known as purchasing bonds from the secondary market. The price that you required to pay would be the accrued(total) interest on the bond as well as its market value.</span></p>
								<p><span>Example:<br />
								</span><span>"A" buys a bond in the primary market with a face value of RM1,000 and a coupon of 6%. After 120 days, "A" sells the bond to "B" at the market price of RM950.</span></p>
								<p><span> "B" would have to pay:<br />
								</span><span>Market value of bond + accrued interest of bond over 90 days<br />
								</span><span>= RM950 + (RM1,000 x 6% x 120/365)<br />
								</span><span>= RM950 + RM19.73<br />
								</span><span>= RM969.73 is the amount "B" pays "A" when he purchases the bond from the secondary market</span></p>
							</div>
						</label>
					</li>
					<li class="item">
						<label for="sc-lb-module-faq-4" class="item-wrapper">
							<input id="sc-lb-module-faq-4" name="sc-lb-module-faq-accordion" type="checkbox"/>
								<span class="question">
									<span class="c-icon icon-tick" data-grunticon-embed></span>
									<span class="question-text">What to look out for when choosing your bond?</span>
									<span class="c-icon icon-varrow" data-grunticon-embed></span>
								</span>
							<div class="answer"><p><strong>Credit risk or default risk</strong><b><br />
							</b><span>A bond should be selected through a few criteria, first it must be issued by a credible issuer/investment bank to ensure that full and timely repayments can be made to you. If the bond issuer is unable to make interest or principal payments when due, as per the bond agreement, the issuer is said to be in default, and the investors may not recover their full investment capital.</span></p>
								<p><strong>Interest rate risk</strong><b><br />
								</b><span>Bond prices have the tendency to move inversely with interest rates. This may have an effect on your investment, due to the rise and fall of the bond price, you have to decide when to sell the bond before its maturity.</span></p>
							</div>
						</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
	<section>
<div class="m-benefits-slider" id="lb-wasp-product-features" data-post-status="publish-status" data-post-status-label="Published">
	<div class="content-wrapper">
							<div class="header">
								<h3 class="message is-title">Learning on investment? We make it easier.</h3>
							</div>
						<div class="list" role="list">
							<div class="item no-link" id="wasp-feature-1"  role="listitem">
										<div class="content">
											<div class="icon">
											<img src="" alt="">
											</div>
						<h4 class="title"><a title="Low Entry Barrier" data-context="Product Features title">Low Entry Barrier.</a></h4>
						<div class="message"><p><span>Unlike traditional way of purchasing bond. We don't have a minimum investment of RM250,000 Start investing in minutes. No minimum requirements, plenty of choices.</span></p>
						</div></div>
							</div>
							<div class="item no-link" id="wasp-feature-2"  role="listitem">
								<div class="content">
									<div class="icon">
											<img src=""  alt="">
											</div>
									<h4 class="title">
										<a title="Consistent Payout" data-context="Product Features title">Low Entry Fees.</a>
									</h4>
									<div class="message"><p>Join the millions on the investment of WASP curated products.</p>
									</div>
								</div>
							</div>
							<div class="item hover-icon-with-gradient-blue-to-green" id="wasp-feature-3"  role="listitem">
								<div class="content">
									<div class="icon">
											<img src=""  alt="">
											</div>
									<h4 class="title">
										<a title="Market Views on-the-go" data-context="Product Features title">Expert Advice, 24/7.</a>
									</h4>
									<div class="message"><p>Our team will answer your questions, big or small.</p>
									</div>
								</div>
							</div>
							<div class="item no-link" id="wasp-feature-4"  role="listitem">
								<div class="content">
									<div class="icon">
											<img src="" alt="">
											</div>
									<h4 class="title">
										<a title="Easy ways to manage your investments" data-context="Product Features title">Safety. Guaranteed.</a>
									</h4>
									<div class="message"><p>WASP Security Team protects your money with state-of-the art security feature.</p>
									</div>
								</div>
							</div>
						</div>
	</div>
</div>
</section>
<!-- event section -->
<!-- sponsor section -->
<!--<section class="xs-gray-bg xs-bg xs-section-padding fundpress-sponsor-section" style="">
	<div class="xs-solid-overlay xs-bg-white"></div>
	<div class="container fundpress-partners-wraper">
		<div class="fundpress-heading-title">
			<h2 class="color-navy-blue xs-mb-0">Featured Unique ETFs from Prominent Industry Leader apart from ours.</h2>
		</div><!-- .xs-heading-title .fundpress-heading-title END ->
		<div class="content-center">
			<ul class="fundpress-partners">
				<li><a href="#" class="full-round fundpress-single-partner"><img src="https://s3-ap-southeast-1.amazonaws.com/wasp-images/vanguard.png" alt=""></a></li>

				<li><a href="#" class="full-round fundpress-single-partner"><img src="https://s3-ap-southeast-1.amazonaws.com/wasp-images/fidelity.png" alt=""></a></li>
			</ul><!-- .fundpress-partners END ->
		</div>
		<div class="content-center">
			<ul class="fundpress-partners">
				<li><a href="#" class="full-round fundpress-single-partner"><img src="https://s3-ap-southeast-1.amazonaws.com/wasp-images/reliance.jpg" alt=""></a></li>
				<li><a href="#" class="full-round fundpress-single-partner"><img src="https://s3-ap-southeast-1.amazonaws.com/wasp-images/ishares.jpg" alt=""></a></li>
				<li><a href="#" class="full-round fundpress-single-partner"><img src="https://s3-ap-southeast-1.amazonaws.com/wasp-images/spdr.png" alt=""></a></li>
			</ul><!-- .fundpress-partners END ->
		</div>
	</div>
</section>-->
		<!-- End sponsor section -->
		<footer class="xs-footer-section fundpress-footer-section v3">
			<div class="fundpress-footer-top-layer">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="fundpress-single-footer">
								<div class="xs-footer-logo">
									<a href="">
										<img src="" alt="">
									</a>
								</div>
								<div class="fundpress-footer-content">
									<p>WASP is a bond investment platform focuses on making Corporate Bonds available for everyone.</p>
									<p>&copy; 2019 WASP VENTURE PLT<p>
								</div><!-- . END -->
								<ul class="xs-social-list fundpress-social-list">
									<li><a href="https://www.facebook.com/waspfinance" class="color-facebook full-round"><i class="fa fa-facebook"></i></a></li>
									<!--<li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a></li>
									<li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="" class="color-pinterest full-round"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="" class="color-instagram full-round"><i class="fa fa-instagram"></i></a></li>-->
								</ul><!-- .xs-social-list .fundpress-social-list END -->
							</div><!-- .fundpress-single-footer END -->
						</div>
						<!--<div class="col-md-2">
							<div class="fundpress-single-footer">
								<div class="xs-footer-title">
									<h4 class="color-white">About</h4>
								</div>
								<nav class="xs-footer-menu">
									<ul>
										<li><a href="#">About Us</a></li>
										<li><a href="#">How It Works</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Press</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-md-2">
							<div class="fundpress-single-footer">
								<div class="xs-footer-title">
									<h4 class="color-white">Help</h4>
								</div>
								<nav class="xs-footer-menu">
									<ul>
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Our Rules</a></li>
										<li><a href="#">Trust & Safety</a></li>
										<li><a href="#">Support</a></li>
										<li><a href="#">Terms of Use</a></li>
										<li><a href="#">Privacy Policy</a></li>
									</ul>
								</nav>
							</div>
						</div>-->
					</div>
				</div>
			</div><!-- .xs-footer-wraper .fundpress-footer-top-layer END -->
		</footer>
<!-- Authentication/Login/SignUp -->
	<script type='text/javascript' src="{{url_for('static', filename='js/comingsoon/jquery.min.js') }}"></script>
		<script defer type="text/javascript" src="{{url_for('static', filename='js/Popper.js') }}"></script>
		<script defer type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
		<script defer type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<!--<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.js"></script>-->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
			<script >
$(document).ready(function(){
    $('form#subscribe-form').on('submit',function(event){
    var a = $('form#subscribe-form').serializeArray();
        $.ajax({
        	contentType: "application/json",
    		dataType: "json",
            data: JSON.stringify(a),
            type: "POST",
            url: "/subscribe"
        })
        .done(function(data){
        	alert(data.success)
        	window.location.reload();
        });
        event.preventDefault();
    });
});
</script>
	<script >
document.addEventListener("DOMContentLoaded", function() {
  var lazyloadImages;

  if ("IntersectionObserver" in window) {
    lazyloadImages = document.querySelectorAll(".lazy");
    var imageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          var image = entry.target;
          image.src = image.dataset.src;
          image.classList.remove("lazy");
          imageObserver.unobserve(image);
        }
      });
    });

    lazyloadImages.forEach(function(image) {
      imageObserver.observe(image);
    });
  } else {
    var lazyloadThrottleTimeout;
    lazyloadImages = document.querySelectorAll(".lazy");

    function lazyload () {
      if(lazyloadThrottleTimeout) {
        clearTimeout(lazyloadThrottleTimeout);
      }

      lazyloadThrottleTimeout = setTimeout(function() {
        var scrollTop = window.pageYOffset;
        lazyloadImages.forEach(function(img) {
            if(img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
        });
        if(lazyloadImages.length == 0) {
          document.removeEventListener("scroll", lazyload);
          window.removeEventListener("resize", lazyload);
          window.removeEventListener("orientationChange", lazyload);
        }
      }, 20);
    }

    document.addEventListener("scroll", lazyload);
    window.addEventListener("resize", lazyload);
    window.addEventListener("orientationChange", lazyload);
  }
})
function isMobileDevice(){
    return ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
}
//UPDATE GRAPH BUDGET NUMBER
var mouseDown = false

$("#mybudgetRange").mousedown(function() {
   mouseDown = true;
   updateSlider()
});

$("#mybudgetRange").mouseup(function() {
    mouseDown = false;
});

function updateSlider() {
    if(mouseDown) {
        // Update the value while the mouse is held down.
        $("#theBudgetRange").text($("#mybudgetRange").val()*100);

        setTimeout(updateSlider, 50);
        window.theRecalculate($("#mybudgetRange").val()*100);
    }
}
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
//Chartjs
var calculateBond;
var myChart;
var bondsReturn;
var array1 = [];
var array2 = [];
var array3 = [];
var getData = $.get('/graph_data');
getData.done(function(results){
window.theRecalculate = function(theValue) {
	array1 = [theValue];
	array2 = [theValue];
	array3 = [theValue];
	array4 = [theValue];
	for (i = 1; i<results.number[0].length; i++){
		var CBond 	  = array1[i-1] + (array1[i-1] * 0.06) + theValue;
		var CFdeposit = array2[i-1] + (array2[i-1] * 0.04) + theValue;
		var CSavings  = array3[i-1] + (array3[i-1] * 0.01) + theValue;
		var investedRM = array4[i-1]+theValue;
		array1.push(Math.round(CBond));
		array2.push(Math.round(CFdeposit));
		array3.push(Math.round(CSavings));
		array4.push(investedRM);
	}
	config.data.datasets[0].data = array1;
	config.data.datasets[1].data = array2;
	config.data.datasets[2].data = array3;
	config.data.datasets[3].data = array4;
	window.myLine.update();
	//set max return
	$("#amountGet").text(numberWithCommas(Math.round(array1[29])));
}
var cumBondReturn = results.number[0][29];
var config = {
			type: 'line',
			data: {
				labels: results.number[3],
				datasets: [{
					label: 'Corporate Bonds',
					backgroundColor:'#fff',
					borderColor: '#fff',
					borderWidth: 2,
					data: results.number[0],
					fill: false,
				}, {
					label: 'Fixed Deposits',
					fill: false,
					backgroundColor: 'rgba(0,255,0,0.8)',
					borderColor: 'rgba(0,255,0,0.8)',
					borderWidth: 2,
					pointRadius: 0,
					data:  results.number[1],
				}, {
					label: 'Savings',
					fill: false,
					backgroundColor: 'rgba(0,0,255,0.4)',
					borderColor: 'rgba(0,0,255,0.4)',
					borderWidth: 3,
					pointRadius: 0,
					data:  results.number[2],
				},  {
					label: 'Cash Invested',
					fill: false,
					borderDash: [10, 5],
					backgroundColor: 'rgba(0,0,0,0.6)',
					borderColor: 'rgba(0,0,0,0.6)',
					pointRadius: 0,
					borderWidth: 1,
					data:  results.number[4],
				}]
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
			    legend: {
			    	display: !isMobileDevice() && (window.screen.width > 120),
			        position: 'right',
			        labels: {
			        fontColor: "#fff"
			        },
			    },
				title: {
					display: false,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
					callbacks: {
                	label: function(tooltipItems, data) {
                    	return data.datasets[tooltipItems.datasetIndex].label +': ' +'RM '+ tooltipItems.yLabel.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") ;
                		}
            }
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: '30 YEARS',
							fontColor: "#fff"
						},ticks: {
						    display:false,
						    beginAtZero: true,
                            fontColor: "#fff",
                            //min: 0,
                            stepSize: 1
                        },gridLines: {
                            display: false,
                            color: "#D3D3D3"
                        },
					}],
					yAxes: [{
						display: false,
						ticks: {
						    beginAtZero: true,
						    callback: function(value, index, values) {//needed to change the scientific notation results from using logarithmic scale
                            return Number(value.toString());//pass tick values as a string into Number function
                        },
                        fontColor: "#000",
                        },
						scaleLabel: {
							display: true,
							labelString: 'Value',
							fontColor: "#000"
						},ticks: {
						    beginAtZero: true,
                            fontColor: "#000",
                            min: 0
                        },gridLines: {
                            display: true,
                            color: "#000"
                        },
					}],

				}
			}
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
});
	</script>

	{% assets "coming_soonJS" %}
		<script type="text/javascript" src="{{ ASSET_URL }}" defer ></script>
	{% endassets %}
	<!--<script type='text/javascript' src='https://s3-ap-southeast-1.amazonaws.com/wasp-images/comingsoon/vendor.min.js'></script>-->
	</body>
</html>
