<!-- get_header('Page Name','Title')-->
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>WASP | Campaign Details</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CPoppins:200,400,500,600,700%7CPlayfair+Display:400,700i" rel="stylesheet">
		<link rel="icon" type="image/png" href="favicon.ico">
		<!-- Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<!-- Icon foont list -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/iconfont.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css') }}">
        <!--
		<link rel="stylesheet" href="assets/css/iconfont.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
        -->
		<!-- bootstrap -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
		<!--<link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
		<!-- isotope -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/isotope.css') }}">
		<!--<link rel="stylesheet" href="assets/css/isotope.css">-->
		<!-- magnific -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css') }}">
		<!--<link rel="stylesheet" href="assets/css/magnific-popup.css"> -->
		<!-- owl carousel -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css') }}">
		<!--<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">-->
		<!-- woocommerce -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/woocommerce.css') }}">
		<!--<link rel="stylesheet" href="assets/css/woocommerce.css">-->
		<!--For Plugins external css-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/plugins.css') }}">
		<!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

		<!--Theme custom css -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
		<!--<link rel="stylesheet" href="assets/css/style.css">-->

		<!--Theme Responsive css-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css') }}">
		<!--<link rel="stylesheet" href="assets/css/responsive.css" />-->

		<script type="text/javascript" src="{{url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
		<!--<script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>-->
	</head>
	<body class="woocommerce">
		<!--[if lt IE 10]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div id="preloader">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div><!-- #preloader -->
<!-- header section -->
<!-- header version inner menu -->
<header class="fundpress-header-inner-version fundpress-header-main-version">
	<div class="container">
		<nav class="xs-menus fundpress-menu">
			<div class="nav-header">
				<div class="nav-toggle"></div>
				<a class="nav-brand nav-logo" href="index.html">
					<img src="assets/images/logo.png" alt="">
				</a>
			</div><!-- . END -->
			<div class="nav-menus-wrapper">
				<div class="xs-logo-wraper">
						<a class="nav-brand xs-logo " href="{{ url_for('authentication.homepage') }}">
						<img src="{{ url_for('static', filename='images/logo-white.svg') }}" alt="">
					</a>
				</div>
				<ul class="nav-menu">
					<li><a href="{{ url_for('authentication.homepage') }}">Home</a>

					</li>
					<li><a href="about.html">about</a></li>
					<li><a href="contact.html">contact</a></li>
				</ul>
				{% if current_user.is_authenticated %}
                <div class="xs-navs-button">
                    <a class="xs-btn round-btn green-btn" href="{{ url_for('authentication.login_facebook') }}">My Dashboard</a>
                </div>
                {% else %}
                <div class="xs-navs-button">
					<ul class="xm-icon-with-text fundpress-icon-menu">
						<li><a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-unlock-alt color-green"></i>Log In<br>SignUp</a></li>
						<!--<li class="d-block d-lg-none d-xl-block"><a href="#" class="xs-btn round-btn green-btn">start a campaign</a></li>-->
					<li > {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages%}
                        <font color="red">{{ message }}</font>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}</li>
                    </ul>
				</div>
                {% endif %}
			</div><!-- .nav-menus-wrapper END -->
		</nav><!-- .xs-menus .fundpress-menu END -->
	</div>
</header>
<!-- header version inner menu closed -->

<!-- modal -->

<!-- modal -->
<div class="modal xs-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="fundpress-tab-nav-v5">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" href="#login" role="tab" data-toggle="tab">
							Login
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#signup" role="tab" data-toggle="tab">
							Signup
						</a>
					</li>
				</ul>
			</div><!-- fundpress-tab-nav-v3 -->
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fadeInRights show fade in active" id="login">
					<form method="POST" id="xs-login-form">
						<div class="xs-input-group-v2">
							<i class="icon icon-profile-male"></i>
							<input type="text" name="name" id="xs_user_login_name" class="xs-input-control" placeholder="Enter your email">
						</div>
						<div class="xs-input-group-v2">
							<i class="icon icon-key2"></i>
							<input type="password" name="name" id="xs_login_password" class="xs-input-control" placeholder="Enter your password">
						</div>
						<div class="xs-submit-wraper xs-mb-20">
							<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
							<div id="successAlert" class="alert alert-success" role="alert"style="display:none;"></div>
							<input type="submit" name="submit" value="login now" id="xs_contact_get_action" class="btn btn-warning btn-block">
						</div>
                        </form>
						<p class="xs-mb-20">or</p>
                    <div class="xs-submit-wraper">
                            <button class="btn btn-default btn-block" id="xs_google" onClick="login_google()">
                                Sign In with Google
                            </button>
                        </div>
                    <div class="xs-submit-wraper xs-mb-20">
							<button onClick="login_fb()" name="submit" value="Login with facebook account" id="xs_facebook" class="btn btn-info btn-block">
                            Sign In with Facebook</button>
                    </div>
			 		<a href="{{ url_for('authentication.forgot_password')}}">Forgot Username/Password?</a><br>

				</div><!-- tab-pane -->
				<div role="tabpanel" class="tab-pane fadeInRights fade" id="signup">
					<form action="#" method="POST" id="xs-register-form" >
						<legend>Personal Information </legend>
						<div class="xs-input-group-v2">
							<i class="icon icon-profile-male"></i>
							<input type="text" name="name" id="xs_register_name" class="xs-input-control" placeholder="Enter your name" required>
						</div>
						<div class="xs-input-group-v2">
							<i class="icon icon-envelope2"></i>
							<input type="email" name="email" id="xs_register_email" data-toggle="tooltip"data-placement="right" title="This is required as it will your log-in username" class="xs-input-control" placeholder="Enter your email" required>
						</div>
						<div class="xs-input-group-v2">
							<i class="icon icon-key2"></i>
							<input  data-html='true'data-toggle="tooltip" type="password" data-placement="right" title="Passwords must contain:<br>-(8) characters in length <br>- An Uppercase letter (A-Z)<br> - A Number (0-9)<br> - A Special character (*&^%)"	name="name" id="xs_register_password" class="xs-input-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter your password" >
						</div>
						<div class="xs-input-group-v2">
							<i class="icon icon-key2"></i>
							<input type="password" data-match="#xs_register_password"data-match-error="Whoops, these don't match" name="name" id="xs_register_repeat_pass" class="xs-input-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter your confirm password">
						</div>
						<p id="validate-status"></p>
						<legend>Date of Birth</legend>
                        <div class="xs-input-group-v2">
							<input data-toggle="tooltip"data-placement="right" title="You have to be above the age of 18 to register" type="text" name="dob" placeholder="DD/MM/YYYY" id="dob" maxlength="10" class="xs-input-control validate" required/>
                        </div>
						<p id="age-status"></p>
						<!-- Address Details -->
						<legend>Country Details</legend>
						<label class="color-navy-blue"for="register_countries_states">Select Your Country*</label>
						<select id="register_countries_states" class="form-control bfh-countries" data-country="US" required></select>

						<!--<label class="color-navy-blue" for="register_state_selector">States*</label>
						<select id="register_state_selector"class="form-control bfh-states" data-country="register_countries_states" required></select>-->
						<!-- Phone Number Details -->
						<label class="color-navy-blue" for="register_phone_number">Phone No* (Verification Purposes)</label>
						<input data-toggle="tooltip" data-placement="right" title="Phone number is required for verification of account purposes" id="register_phone_number"type="text" class="form-control bfh-phone" data-country="register_countries_states" required>
						<br>
						<div class="xs-submit-wraper xs-mb-20">
							<div id="errorRegisterAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
							<div id="successRegisterAlert" class="alert alert-success" role="alert"style="display:none;"></div>
							<input type="submit" name="submit" value="Register now" id="xs_register_get_action" class="btn btn-warning btn-block">
						</div>
					</form>
				</div><!-- tab-pane -->
			</div><!-- tab-content -->
		</div>
	</div>
</div><!-- End modal --><!-- End home section -->
<!-- modal -->
<div class="modal xs-modal fade payment_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="fundpress-tab-nav-v5">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" href="#payment" role="tab" data-toggle="tab">
							Payment
						</a>
					</li>
				</ul>
			</div><!-- fundpress-tab-nav-v3 -->
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fadeInRights show fade in active" id="payment">
                    	<p>How much you want to invest? </p>
                    <div class="xs-input-group-v2">
                    <input type="number" name="email" id="value_amount" data-toggle="tooltip"data-placement="right" title="This is required as it will be charged to your card" class="xs-input-control" placeholder="Enter your the amount (USD)" required>
                        </div>
                    <div class="xs-input-group-v2">
                                <div id="paypal-button">
                                </div>
                        </div>
                    <div class="xs-input-group-v2">
                         Credit Cards and Debit Cards Accepted Here*
                    </div>
				</div><!-- tab-pane -->
			</div><!-- tab-content -->
		</div>
	</div>
</div>
<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/background/b_1.jpg') }}" >
	<div class="xs-solid-overlay xs-bg-black"></div>
	<div class="container">
		<div class="fundpress-inner-welcome-content xs-inner-welcome-content">
			<!-- xs rating -->
			<ul class="xs-rating color-yellow xs-mb-30">
				<li><a href=""><i class="fa fa-star"></i></a></li>
				<li><a href=""><i class="fa fa-star"></i></a></li>
				<li><a href=""><i class="fa fa-star"></i></a></li>
				<li><a href=""><i class="fa fa-star"></i></a></li>
				<li><a href=""><i class="fa fa-star-half-empty"></i></a></li>
			</ul>
			<!-- End xs rating -->
			<h2 class="color-white">{{ products['product_name'] }}</h2>
			<ul class="xs-tag-category-with-icon xs-mb-30">
				<li><a href="" class="color-white"><i class="fa fa-tags color-green"></i>{{ products['tag'] }}</a></li>
				<!--<li><a href="" class="color-white"><i class="fa fa-pie-chart color-green"></i>Profitable</a></li>-->
			</ul>
			<ul class="xs-breadcumb fundpress-breadcumb">
				<li><a href="{{ url_for('authentication.homepage') }}" class="color-white"> Home /</a> Details</li>
			</ul>
		</div>
	</div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main class="xs-all-content-wrapper">
	<!-- fund details -->
	<section class="xs-content-section-padding xs-fund-details fundpress-fund-details">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-7">
				<div class="xs-sync-slider-wraper xs-mb-50">
					<div class="owl-carousel xs-sync-slider-preview xs-mb-10">
						<div class="xs-sync-slider-preview-content">
							<img src="assets/images/product/product_1.jpg" alt="">
						</div>
						<div class="xs-sync-slider-preview-content">
							<img src="assets/images/product/product_2.jpg" alt="">
						</div>
						<div class="xs-sync-slider-preview-content">
							<iframe class="xs-youtube-iframe" src="https://www.youtube.com/embed/Hn89qD03Tzc" allowfullscreen></iframe>
						</div>
						<div class="xs-sync-slider-preview-content">
							<img src="assets/images/product/product_3.jpg" alt="">
						</div>
						<div class="xs-sync-slider-preview-content">
							<img src="assets/images/product/product_4.jpg" alt="">
						</div>
					</div><!-- xs-sync-slider-preview -->
					<div class="owl-carousel xs-sync-slider-thumb">
						<div class="xs-sync-slider-thumb-content">
							<img src="assets/images/product/product_thumb_1.jpg" alt="">
						</div>
						<div class="xs-sync-slider-thumb-content">
							<img src="assets/images/product/product_thumb_2.jpg" alt="">
						</div>
						<!--<div class="xs-sync-slider-thumb-content">
							<img src="assets/images/product/product_thumb_5.jpg" alt="">
							<div class="xs-sync-slider icon-position-center">
								<a href="" class="full-round icon-identify-btn blue-btn opacity-btn xs-box-shadow"><i class="fa fa-play"></i></a>
							</div>
						</div>-->
						<div class="xs-sync-slider-thumb-content">
							<img src="assets/images/product/product_thumb_3.jpg" alt="">
						</div>
						<div class="xs-sync-slider-thumb-content">
							<img src="assets/images/product/product_thumb_4.jpg" alt="">
						</div>
					</div><!-- xs-sync-slider-thumb -->
				</div><!-- xs-sync-slider-wraper -->
				<div class="xs-text-content-tab">
					<!-- Nav tabs -->
					<div class="xs-tab-nav fundpress-tab-nav-v2 xs-mb-30">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" href="#description" role="tab" data-toggle="tab">
									Description
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#calculator" role="tab" data-toggle="tab">
									Calculator
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#updates" role="tab" data-toggle="tab">
									Updates
								</a>
							</li>

						</ul>
					</div><!-- xs-tab-nav fundpress-tab-nav-v2 xs-mb-30 -->
					<!-- Tab panes -->
					<div class="tab-content xs-text-tab-content">
						<div role="tabpanel" class="tab-pane fadeInRights show fade in active" id="description">
							<h5 class="color-navy-blue xs-mb-30">{{ products['description'][0] }}</h5>

							<p class="xs-content-description fundpress-content-description xs-mb-30">{{products['description'][1] }}</p>
							<div class="row">

									<h3 class="bold color-green xs-post-title fundpress-post-title xs-mb-30 ">Bond Issuer: </h3>
								<div class="ml-3"></div>
								<p class=" fundpress-post-title xs-mb-30"> {{products['description'][2] }}</p>
							<div class="col-1"></div>
							<h3 class="bold color-green xs-post-title fundpress-post-title xs-mb-30">Issue Date:</h3>
								<div class="ml-3"></div>
							<p class=" fundpress-post-title xs-mb-30">{{products['description'][3] }} </p>
								</div>
							<div class="row">
							<h3 class="bold color-green xs-post-title fundpress-post-title xs-mb-30">Annual Coupon Rate:</h3>
							<div class="ml-3"></div>
							<p class=" fundpress-post-title xs-mb-30">{{products['description'][4] }} </p>
								<div class="col-1"></div>
							<h3 class="bold color-green xs-post-title fundpress-post-title xs-mb-30">Issue Price:</h3>
							<div class="ml-3"></div>
								<p class=" fundpress-post-title xs-mb-30">{{products['description'][5] }} </p>
							</div>
							<div class="row">
							<h3 class="bold color-green xs-post-title fundpress-post-title xs-mb-30">Bond Rating:</h3>
							<div class="ml-3"></div>
							<p class=" fundpress-post-title xs-mb-0">{{products['description'][6] }} </p>
							</div>
						</div><!-- tab-pane fadeInRights -->

						<div role="tabpanel" class="tab-pane fadeInRights fade" id="calculator">
							<div class="card"
							></div>
						</div>
						<div role="tabpanel" class="tab-pane fadeInRights fade" id="updates">
							<div class="xs-ul-list fundpress-content-text-list-wraper">
								<ul class="fundpress-content-text-list xs-content-text-list">

								</ul>
								<div class="xs-navy-blue-bg fundpress-porject-lunch xs-content-padding text-center content-left">
									<h3 class="color-white xs-mb-10 regular">january 16, 2018</h3>
									<h4 class="color-white xs-mb-0 semi-bold">Project Launched</h4>
								</div>
							</div>
						</div>
					</div><!-- tab-content xs-text-tab-content -->
				</div><!-- xs-text-content-tab -->
			</div>
			<div class="col-md-12 col-sm-12 col-lg-5">
				<div class="xs-sidebar-wraper">
					<div class="xs-single-sidebar xs-mb-20">
						<div class="xs-pie-chart-wraper fundpress-pie-chart-wraper">
							<div class="xs-pie-chart" data-percent="{{ products['p_percentage_funded'] }}">
								<div class="xs-pie-chart-percent-wraper icon-position-center bold color-navy-blue xs-spilit-container">
									<div class="xs-pie-chart-percent"></div>
									<span>%</span>
								</div>
							</div>
							<div class="xs-pie-chart-label">Invested</div>
						</div><!-- xs-pie-chart-wraper -->
					</div>
					<div class="xs-single-sidebar xs-mb-30">
						<ul class="xs-list-with-content fundpress-simple-list-content">
							<li class="color-navy-blue bold xs-mb-20">RM {{ "{:,.0f}".format(products['product_current_amount']) }}<span class="color-semi-black regular">Invested Amount</span></li>
							<li class="color-green bold xs-mb-20">RM {{ "{:,.0f}".format(products['product_fund_required']) }}<span class="color-semi-black regular">Goal</span></li>
							<li class="color-brick-light-2 bold">119<span class="color-semi-black regular">Backers</span></li>
						</ul><!-- xs-list-with-content fundpress-simple-list-content -->
					</div>
					<div class="xs-single-sidebar xs-mb-40">
						<div class="xs-countdown-timer-wraper">
							<div class="countdown-container xs-countdown-timer-v2" data-countdown="{{ products['p_end_d']}}"></div>
						</div><!-- xs-countdown-timer-wraper -->
					</div>
                    {% if current_user.is_authenticated %}
					 <div class="xs-single-sidebar xs-mb-50">
						<div class="xs-spilit-container">
                         <button data-toggle="modal" data-target=".payment_modal" href="#" class="icon-btn xs-btn radius-btn green-btn xs-btn-medium"><i class="fa fa-heart"></i>invest Now</button>
                        </div>
                    </div>
                     {% else %}
                    <div class="xs-single-sidebar xs-mb-50">
						<div class="xs-spilit-container">
                         <button data-toggle="modal" data-target=".payment_modal" href="#" class="icon-btn xs-btn radius-btn green-btn xs-btn-medium"  style="opacity:0.2;"disabled><i class="fa fa-heart"></i>invest Now</button>
                            <div style="color:red;">Please Login to make an investment</div>
                        </div>
                    </div>
                    {% endif %}
                     <input value="{{ products['product_id'] }}" id="p_id" class="view_more" style="display:none;">
                    <input value="{{ products['product_name'] }}" id="p_name" class=""style="display:none;">
					<div class="xs-single-sidebar xs-mb-50">
						<div class="xs-spilit-container xs-spilit-container-v2">
							<div class="xs-avatar-title fundpress-avatar-title fundpress-avatar-title-v2">
								<a href="#" class="xs-mb-10">BY: {{ products['p_author'] }}</a>
							</div><!-- xs-avatar-title fundpress-avatar-title fundpress-avatar-title-v2 -->
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	<!-- End fund details -->

	<!-- popular campaigns -->
<section class="waypoint-tigger xs-gray-bg xs-section-padding">
	<div class="container">

	</div>
</section>	<!-- End popular campaigns -->
</main>

		<footer class="xs-footer-section xs-fixed-footer fundpress-footer-section">
			<div class="fundpress-footer-top-layer">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="fundpress-single-footer">
								<div class="xs-footer-logo">
									<a href="index.html">
										<img src="" alt="">
									</a>
								</div>
								<div class="fundpress-footer-content">
									<p> </p>
								</div><!-- . END -->
								<ul class="xs-social-list fundpress-social-list">
									<li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a></li>
									<li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a></li>
									<li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="" class="color-pinterest full-round"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="" class="color-instagram full-round"><i class="fa fa-instagram"></i></a></li>
								</ul><!-- .xs-social-list .fundpress-social-list END -->
							</div><!-- .fundpress-single-footer END -->
						</div>
						<div class="col-md-3">
							<div class="fundpress-single-footer">
							</div><!-- .fundpress-single-footer END -->
						</div>
						<div class="col-md-2">
							<div class="fundpress-single-footer">
								<div class="xs-footer-title">
									<h4 class="color-white">About</h4>
								</div><!-- .xs-footer-title END -->
								<nav class="xs-footer-menu">
									<ul>
										<li><a href="about.html">About Us</a></li>
										<li><a href="#">How It Works</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Press</a></li>
										<li><a href="news-feed.html">Blog</a></li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</nav><!-- .xs-footer-menu .xs-block-menu END -->
							</div><!-- .fundpress-single-footer END -->
						</div>
						<div class="col-md-2">
							<div class="fundpress-single-footer">
								<div class="xs-footer-title">
									<h4 class="color-white">Help</h4>
								</div><!-- .xs-footer-title END -->
								<nav class="xs-footer-menu">
									<ul>
										<li><a href="faq.html">FAQ</a></li>
										<li><a href="#">Our Rules</a></li>
										<li><a href="#">Trust & Safety</a></li>
										<li><a href="#">Support</a></li>
										<li><a href="#">Terms of Use</a></li>
										<li><a href="#">Privacy Policy</a></li>
									</ul>
								</nav><!-- .xs-footer-menu .xs-block-menu END -->
							</div><!-- .fundpress-single-footer END -->
						</div>
					</div>
				</div>
			</div><!-- .xs-footer-wraper .fundpress-footer-top-layer END -->
			<div class="xs-footer-bottom-layer fundpress-footer-bottom">
				<div class="container">
				</div>
			</div><!-- .xs-footer-bottom-layer .fundpress-footer-bottom END -->
		</footer>
<!-- Authentication/Login/SignUp -->
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/functions/form.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/plugins.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/Popper.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/owl.carousel.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/parallax.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery.easypiechart.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/spectragram.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/scrollax.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/functions/purchase.js') }}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>

<script>
  paypal.Button.render({
    env: 'sandbox',
    client: {
      sandbox: 'demo_sandbox_client_id',
      production: 'demo_production_client_id'
    },
    // Or 'production'
    // Set up the payment:
     style: {
            label: 'checkout',
            size:  'large',    // small | medium | large | responsive
            shape: 'pill',     // pill | rect
            color: 'blue'      // gold | blue | silver | black
        },

    // Enable Pay Now checkout flow (optional)
    commit: true,
    // 1. Add a payment callback
    payment: function(data, actions) {
      var value = document.getElementById("value_amount").value;
      var the_id = document.getElementById("p_id").value;
      var the_name= document.getElementById("p_name").value;
      return actions.payment.create({
        transactions: [{
          amount: {
            total: value,
            currency: 'USD',
          },
          "item_list": {
            "items": [{
                "name": the_id,
                "sku": 100.05,
                "price": value,
                "currency": "USD",
                "quantity": 1 }]},
          description: "The purchased item is an investment and contain no product",
          payment_options: {
        allowed_payment_method: 'INSTANT_FUNDING_SOURCE'},
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function(payment) {
        // Show a confirmation message to the buyer
        window.alert('Thank you for your purchase!');
         $.ajax({
                url:'/execute',
                data: JSON.stringify({'t_data': payment.transactions,'p_data': payment.payer }),
                type:'POST',
                dataType: "json",
                contentType: 'application/json;charset=UTF-8',
                success: function(data){
                        //window.location.href='/receipt/'+data.t_id;
                        window.open('/receipt/'+data.t_id,'_blank');
                }
         });
      });
    }
  }, '#paypal-button');
</script>
	</body>
</html>
