<html>
<head>
	<title>WASP | Receipt</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/receipt.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css">
</head>
<body>
	<div class="container">
		<div class="left">
			<div class="info-box">
				<div class="receipt">
					Receipt for </br><span>{{ content['f_name']}} {{ content['l_name']}}</span>
				</div>
				<div class="entry">
					<i class="icon-wallet" aria-hidden="true"></i>
					<p>Amount:</br><span>${{ content['total']}} USD</span></p>
				</div>
				<div class="entry">
					<i class="icon-calendar" aria-hidden="true"></i>
					<p>Date:</br><span>{{ content['created_time'] }}</span></p>
				</div>
				<!--<div class="entry">
					<i class="icon-star" aria-hidden="true"></i>
					<p>Issuer:</br><span>Dribbble</span></p>
				</div>-->
				<div class="entry">
					<i class="icon-notebook" aria-hidden="true"></i>
					<p>Sales ID:</br><span>{{ content['id'] }}</span></p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="content">
				<div class="header">
					<img src="{{ url_for('static', filename='images/logo_1.svg') }}" alt="">
					<h4>{{ content['created_time'] }}</h4>
				</div>
				<div class="main">
					<h3>{{ content['p_r_name'] }}</h3>
					<h4>Total: ${{ content['total']}} USD</h4>
				</div>
				<div class="message">
                    <p>Hello {{ content['f_name']}} ,</br>You made a payment of ${{ content['total']}} {{ content['currency']}} to WASP financial, if there's an error, do send us an email at help@wasp.com</p>
					<h6>It may take a few moments for this</br>transaction to appear in your account.</h6>
				</div>
				<div class="footer">
					<a href="#">www.waspfinance.com/help</a>
					<h6>Invoice ID: {{ content['id'] }}</h6>
				</div>
			</div>
		</div>
	</div>
</body>
</html>